<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div class="login">
      <div class="login-content">
        <div class="login-img">
          <img src="../../assets/Logo.png" alt="">
        </div>
        <div class="login-title">
          <p>Crea una cuenta</p>
        </div>
        <div class="login-subtitle">
          <p>Ingresa tus datos y disfruta de tus animes favoritos con tu cuenta Crunchyroll</p>
        </div>
        <div class="login-form">
         <form class="form-width" [formGroup]="register">
          <p>
            <mat-form-field class="full-width">
              <mat-label>Usuario en Crunchyroll</mat-label>
              <input matInput type="text" placeholder="Inserta tu nombre de usuario con el que quieras que te conozcan" formControlName="username">
            </mat-form-field>
           </p>
           <p>
             <mat-form-field class="full-width">
               <mat-label>Correo electronico</mat-label>
               <input matInput type="email" placeholder="example@email.com" formControlName="email">
             </mat-form-field>
           </p>
           <p>
            <mat-form-field class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="Escribe tu contraseña" formControlName="password">
            </mat-form-field>
           </p>
           <p>
             <mat-form-field class="full-width">
              <mat-label>Confirmar ontraseña</mat-label>
              <input matInput type="password" placeholder="Escribe otra vez tu contraseña para confirmar" formControlName="cpassword">
            </mat-form-field>
           </p>
           <button class="full-width login-button" (click)="Registrar()" type="submit" mat-raised-button color="primary">Registrar</button>
         </form>
        </div>
        <div class="register">
          <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesion aqui</a></p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image">
      <img src="../../assets/image-login.png" alt="">
    </div>
  </mat-grid-tile>
</mat-grid-list>



