<header>
  <div class="contenedor">
    <div class="izquierda">
      <img src="../../assets/Logotipo.png" alt="Icono de Cruchyroll">
      <nav>
        <a href="#">Inicio</a>
        <a href="#">Animes</a>
        <a href="#">Mi lista</a>
      </nav>
    </div>
    <div class="derecha">
      <div class="buscar">
        <input type="text" required placeholder="Buscar Anime">
        <div class="btn-search">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="btn-user"><i class="fas fa-user"></i></div>
    </div>
  </div>
</header>
