.contenedor {
  width: 85%;
  margin: auto;
}

header {
  padding: 20px 0;
  background: #16141A;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.5);
}

header .contenedor {
  background: #16141A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Menu de lado izquierdo*/
header .contenedor .izquierda {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

/*Logotipo*/
header img {
  background: #16141A;
  max-width: 179px;
  max-height: 46px;
}

/*Opcciones*/
header nav {
  margin-left: 20px;
}

header nav a {
  background: #16141A;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff73;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover {
  color: #fff;
}

/*Menu de lado derecho*/
header .contenedor .derecha {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  color: #16141A;
}

/*Barra de Busqueda*/
.buscar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buscar input {
  width: 240px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  border: 2px solid #00a878;
  border-radius: 25px;
  transition: all 0.6s ease;
  background: #16141A;
  color:white;
}

.btn-search {
  position: absolute;
  background: #00A878;
  width: 30px;;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-search i {
  background: #00A878;
}

/*Boton para iniciar sesion*/
.btn-user {
   margin-left: 20px;
  background: #00A878;
  width: 30px;;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-user i {
  background: #00A878;
}
